services:
  mysql:
    image: mysql:8.0
    container_name: mysql_web_3
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: iw3
      MYSQL_USER: user
      MYSQL_PASSWORD: 123
    ports:
      - "3306:3306"
    volumes:
      - ./mysql:/var/lib/mysql